<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" ng-repeat="category in categories" data-slide-to={{category.Id}} ng-class="{ 'active': $first}"></li>
                    </ol>

                    <div class="carousel-inner">                                 
                        <div class="item" ng-repeat="category in categories" ng-class="{ 'item active': $first}">
                            <div class="col-sm-6">
                                <h1><span>SHOPPING</span>-CART</h1>
                                <h2>{{category.Name}}</h2>
                                <p>{{category.Description}}</p>
                                <button ui-sref="productCategory({ category: category.Name })" type="button" class="btn btn-default get">Get more</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="{{category.LinkImage}}" class="banner img-responsive" alt="" />
                            </div>
                        </div>
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <myleftsidebar></myleftsidebar>
            </div>

            <div class="col-sm-9 padding-right">        
                <div class="features_brands">
                    <!--features_brands-->
                    <h2 class="title text-center">features brands</h2>

                    <div id="features-brands-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="assets/images/home/manufacturer_apple.jpg" alt="" />
                                                <a ui-sref="productCategory({ category: 'Apple' })" class="btn btn-default add-to-cart"><i class="fa fa-cog"></i>Apple</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="assets/images/home/manufacturer_hp.jpg" alt="" />
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-cog"></i>HP</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="assets/images/home/manufacturer_nike.jpg" alt="" />
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-cog"></i>Nike</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="assets/images/home/manufacturer_apple.jpg" alt="" />
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-cog"></i>Apple</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="assets/images/home/manufacturer_hp.jpg" alt="" />
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-cog"></i>HP</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="assets/images/home/manufacturer_nike.jpg" alt="" />
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-cog"></i>Nike</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#features-brands-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#features-brands-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/features_brands-->

                <myfeaturesitems title="Sale_products" data="productsBySale"></myfeaturesitems>           
            </div>
        </div>
    </div>
</section>
